.the-creator-landing-page,
.the-creator-landing-page * {
  box-sizing: border-box;
}
.the-creator-landing-page {
  background: #ffffff;
  height: 4042px;
  position: relative;
  overflow: hidden;
}
.icons {
  width: 24px;
  height: 22.77px;
  position: absolute;
  left: 401px;
  top: 3662px;
  overflow: hidden;
}
.icons2 {
  width: 23.49px;
  height: 23.99px;
  position: absolute;
  left: 592px;
  top: 3603px;
  overflow: hidden;
}
.frame-14505 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1515px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-14500 {
  background: #ffffff;
  padding: 60px 160px 40px 160px;
  align-self: stretch;
  flex-shrink: 0;
  height: 174px;
  position: relative;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 161.5px;
  top: 60px;
}
.group-18 {
  flex-shrink: 0;
  width: 303.5px;
  height: 67.51px;
  position: static;
  aspect-ratio: 303.5/67.51;
}
.group {
  width: 31.43%;
  height: 100%;
  position: absolute;
  right: 68.57%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
  aspect-ratio: 95.4/67.51;
}
.strivon {
  width: 181.12px;
  height: 30.16px;
  position: absolute;
  left: 108.62px;
  top: 11.94px;
  overflow: visible;
}
.future-fortitude-forward {
  width: 59.26%;
  height: 13.11%;
  position: absolute;
  right: 4.41%;
  left: 36.33%;
  bottom: 13.75%;
  top: 73.14%;
  overflow: visible;
}
.tm {
  color: #0e21a1;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 6px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 293.5px;
  top: 3px;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -47px);
  top: 82px;
}
.our-mission {
  color: #212123;
  text-align: left;
  font-family: "RobotoMono-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
}
.our-services {
  color: #212123;
  text-align: left;
  font-family: "RobotoMono-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  opacity: 0.5;
  position: relative;
}
.button {
  background: #0e21a1;
  border-radius: 100px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1176.5px;
  top: 70px;
}
.label {
  color: #ffffff;
  text-align: center;
  font-family: "RobotoMono-Medium", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-71 {
  background: #0e21a1;
  width: 37px;
  height: 6px;
  position: absolute;
  left: 803px;
  top: 133.51px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.hero-section {
  background: #ffffff;
  padding: 140px 160px 140px 160px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 823px;
  position: relative;
}
.hands-2 {
  flex-shrink: 0;
  width: 403px;
  height: 426px;
  position: absolute;
  left: 1153.53px;
  top: 457.37px;
  transform-origin: 0 0;
  transform: rotate(-12.902deg) scale(1, 1);
  object-fit: cover;
}
.hands-22 {
  flex-shrink: 0;
  width: 414px;
  height: 217px;
  position: absolute;
  left: -111px;
  top: 18px;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.slogan {
  color: #212123;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 96px;
  line-height: 112px;
  font-weight: 700;
  position: relative;
  width: 977px;
}
.description {
  color: #1f392c;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  position: relative;
  width: 773px;
}
.frame-14501 {
  align-self: stretch;
  flex-shrink: 0;
  height: 1287px;
  position: relative;
}
.rectangle-73 {
  width: 1512px;
  height: 690px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 597px;
}
.rectangle-732 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.slogan2 {
  color: #0e21a1;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 150px;
  line-height: 150px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 451.5px);
  bottom: 88.34%;
  top: 0%;
  height: 11.66%;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.rectangle-72 {
  background: #0e21a1;
  width: 100%;
  height: 37.3%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 53.61%;
  top: 9.09%;
}
.slogan3 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  position: absolute;
  right: 12.04%;
  left: 10.78%;
  width: 77.18%;
  bottom: 69.77%;
  top: 16.24%;
  height: 13.99%;
}
.button2 {
  background: #0e21a1;
  border-radius: 100px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 11.51%;
  height: 3.73%;
  position: absolute;
  right: 44.84%;
  left: 43.65%;
  bottom: 60.61%;
  top: 35.66%;
}
.frame-14502 {
  flex-shrink: 0;
  width: 1189px;
  height: 725px;
  position: relative;
}
.slogan4 {
  color: #171928;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 584.5px);
  top: 58px;
  width: 1167px;
}
.slogan5 {
  color: #171928;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  line-height: 46px;
  font-weight: 500;
  position: absolute;
  left: 533px;
  top: 0px;
}
.component-1 {
  width: 288px;
  height: 470px;
  position: absolute;
  left: 0px;
  top: 253px;
}
.rectangle-74 {
  background: #0e21a1;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.slogan6 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  right: 7.49%;
  left: 6.75%;
  width: 85.76%;
  bottom: 56.38%;
  top: 29.57%;
  height: 14.04%;
}
.slogan7 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  right: 7.49%;
  left: 6.75%;
  width: 85.76%;
  bottom: 8.09%;
  top: 48.3%;
  height: 43.62%;
}
.mask-group {
  width: 25.36%;
  height: 15.74%;
  position: absolute;
  right: 68.04%;
  left: 6.6%;
  bottom: 76.81%;
  top: 7.45%;
  overflow: visible;
}
.component-5 {
  width: 288px;
  height: 470px;
  position: absolute;
  left: 601px;
  top: 255px;
}
.rectangle-742 {
  background: #212123;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mask-group2 {
  width: 25.36%;
  height: 15.74%;
  position: absolute;
  right: 37.48%;
  left: 37.15%;
  bottom: 49.36%;
  top: 34.89%;
  overflow: visible;
}
.slogan8 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 11.81%;
  left: 11.46%;
  width: 76.74%;
  bottom: 34.89%;
  top: 52.34%;
  height: 12.77%;
}
.component-4 {
  width: 288px;
  height: 470px;
  position: absolute;
  left: 300px;
  top: 253px;
}
.mask-group3 {
  width: 25.36%;
  height: 15.74%;
  position: absolute;
  right: 37.48%;
  left: 37.15%;
  bottom: 49.36%;
  top: 34.89%;
  overflow: visible;
}
.component-6 {
  width: 288px;
  height: 470px;
  position: absolute;
  left: 901px;
  top: 253px;
}
.mask-group4 {
  width: 25.36%;
  height: 15.74%;
  position: absolute;
  right: 37.48%;
  left: 37.15%;
  bottom: 49.36%;
  top: 34.89%;
  overflow: visible;
}
.footer {
  background: #212123;
  padding: 64px 160px 64px 160px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 792.84px;
  position: relative;
  overflow: hidden;
}
.title-description {
  flex-shrink: 0;
  width: 1192px;
  height: 169px;
  position: static;
}
.description2 {
  color: #ffffff;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 161.5px;
  top: 169px;
  width: 1192px;
}
.title {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 283px);
  top: 64px;
  width: 602px;
}
.input {
  border-radius: 100px;
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 567px;
  position: relative;
}
.content2 {
  padding: 0px 8px 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.button3 {
  background: #ffffff;
  border-radius: 24px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.label2 {
  color: #0e21a1;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strivon2 {
  flex-shrink: 0;
  width: 1186px;
  height: 199.84px;
  position: relative;
  overflow: visible;
}
.copy-menu-social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1186px;
  position: relative;
}
.frame-33 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: #585858;
  text-align: center;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
}
.description3 {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  opacity: 0.6;
  position: relative;
}
.frame-34 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.instagram {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 99.94%;
  height: 99.98%;
  position: absolute;
  right: 0.06%;
  left: 0%;
  bottom: 0.02%;
  top: 0%;
  overflow: visible;
}
.facebook {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.linkedin {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
